

* {
    padding: 0;
    margin: 0;
}

html,body{ height: 100%;}

iframe{ width: 99%;}
.tab-content-container iframe {
    padding: 5px;
}
.tab-content-container iframe html body {
    padding: 5px;
}
 /*iframe body {
     padding: 50px;
    background: #f5f5f5;
}*/

.main-content {
    padding: 10px;
    height: 100%;
    /*overflow-y: scroll;*/
}

.main-content div {

}
.bui-grid-table .bui-grid-hd {
    border-bottom: none;
}